---
title: "Bugs, bounties, and cherry browns"
author: Juan Broullon
author_gitlab: jbroullon
author_twitter: ph3t_
categories: security
image_title: '/images/blogimages/bug-bounty-turns-one/gitlab-security-blog-cover_3.png'
description: "Cheers, our bug bounty program is celebrating one year!"
tags: security, security research
merch_banner: merch_four
featured: yes
postType: content marketing
---

One year ago today, [we launched our public bug bounty program](/blog/2018/12/12/gitlab-hackerone-bug-bounty-program-is-public-today/), a crucial element in our strategy to secure our product and protect our company. 

### Bigger, stronger, more secure

It seems like only yesterday (ok, June 2014) that we launched our first program on HackerOne, a vulnerability disclosure initiative that would award security researchers swag in exchange for bugs. Once that program was mature enough – and our security team was prepared to manage it – the next natural step was a public bug bounty program which lead to a huge increase in report submissions and cash in reporters' pockets!
 
Over the past year we’ve started tackling some [early lessons learned](/blog/2019/07/19/what-we-learned-by-taking-our-bug-bounty-program-public/) and evolved the way we communicate with our reporters, the way we reward bounties, and even [what we’re paying for high and critical severity findings](/blog/2019/11/18/were-increasing-bounties-in-our-bug-bounty-program/). But we’re not done learning yet.  We want everyone to contribute and are always keen to hear about new ways to improve our bug bounty program so let us know if you have any suggestions. 

As we look back at the past year, we’re proud to report that we’ve received a total of 1378 reports from 513 extremely talented security researchers from across the globe. We awarded a total of $565,650 in bounties to 171 researchers who reported valid vulnerabilities. The program kept our engineers on their toes, challenged and surprised our security team, and helped us keep GitLab more secure.

### We’re pretty excited about all this, but we know you’re waiting with bated breath to hear about some even more riveting news... 

In October, we announced a [bug bounty contest](/blog/2019/09/24/reducing-time-to-payout-and-launching-a-bug-bounty-anniversary-contest/). From October 1 through November 30, we were looking for contributors to our program across the following areas: 

• Most reputation points from submissions to our program    
• Most reputations points collected by a reporter new to our program  
• Best written report  
• Most innovative report  
• Most impactful finding 

We just knew our reporters WOULD NOT DISAPPOINT.  

**We received 279 reports from 123 different individuals between October 1 and November 30, and 89 of them were from new reporters!**  

### Thank you to all who contributed. We’re beyond excited to announce these winners:

<i class="fas fa-address-card fa-fw" style="color:rgb(46,46,46); font-size:1.0em" aria-hidden="true"></i> **Most reputation points from submissions to our program.**  Congratulations to [@xanbanx](https://hackerone.com/xanbanx) who leads the pack in reputation points this period.
{: #id-card-black}

<i class="far fa-address-card fa-fw" style="color:rgb(56,13,117); font-size:1.0em" aria-hidden="true"></i> **Most reputations points *collected by a reporter new to our program***.  Congratulations to [@peet86](https://hackerone.com/peet86) who had the highest reputation score for a new reporter to our program.
{: #id-card-purple}

<i class="fas fa-pencil-alt fa-fw" style="color:rgb(219,58,33); font-size:1.0em" aria-hidden="true"></i> **Best written report.**  Congratulations to [@rpadovani](https://hackerone.com/rpadovani), your numerous Elasticsearch reports which were consistently clear and concise.
{: #id-pencil}

<i class="far fa-lightbulb fa-fw" style="color:rgb(252,161,33); font-size:1.0em" aria-hidden="true"></i> **Most innovative report.**  Congratulations to [@ngalog](https://hackerone.com/ngalog), the technique you used to disclose private data on GitLab Pages was unique and creative.
{: #id-lightbulb}

<i class="fas fa-rocket fa-fw" style="color:rgb(252,109,38); font-size:1.0em" aria-hidden="true"></i> **Most impactful finding.**  Congratulations [@nyangawa of Chaitin Tech](https://hackerone.com/nyangawa) for your report on a complex path traversal bug which lead to remote code execution.
{: #id-rocket}

*Since it is [GitLab’s policy](https://hackerone.com/gitlab#disclosure) to share details via public GitLab.com issue 30 days after releasing a fix, the details of our best written report, most innovative report and most impactful finding winners will be released in a future blog post.*  

### And, to give you a peep of the custom swag our five winners will be receiving:

![custom GitLab Mechanical Keyboard, picture 1](/images/blogimages/bug-bounty-turns-one/wasd-tanuki-keyboard-1.jpg){: .shadow.medium.center}
61 mechanical keys to add some clickety clack to your hackety hack. You'll want to ditch the chiclets and get with these gold-plated cherry mx switches.
{: .note.text-center}   

![custom GitLab Mechanical Keyboard, picture 4](/images/blogimages/bug-bounty-turns-one/wasd-tanuki-keyboard-4.jpg){: .shadow.medium.center}
A Tanuki-powered Poker 3. We’re pretty sure this 60% mechanical keyboard will help you keep it 💯.
{: .note.text-center} 

To everyone who has contributed to our program in the past year, thank you for making it a success. 

Despite a very impressive 2019, we know there’s still a lot of room for improvement in our program. We plan to continue to grow and enhance our bug bounty efforts in the coming year so keep an eye on this blog for updates.

Happy hacking,

The GitLab Security team

