---
title: "Introducing the WoW rule: A formula for growth for SaaS Startups"
author: Sid Sijbrandij
author_gitlab: sytses
author_twitter: sytses
categories: unfiltered
image_title: '/images/default-blog-image.png'
description: "The WoW rule is a guideline for growth for venture funded SaaS startups."
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

At GitLab, we believe that part of measuring success is having a target that you're working toward.
It's not enough to say, "we're interested in growth" but being specific in what the goals for that growth are is the difference between thinking that 1% growth is enough or underperforming.
Setting targets not just for growth but all performance indicators is about expectation management and getting alignment- making sure that everyone is on the same page on what results should be.
To see how this manifests in our regular work, [all KPIs](/handbook/ceo/kpis/) have targets and all [job families have performance indicators](/handbook/hiring/job-families/#why-job-families-have-performance-indicators).

When growing a SaaS startup, early-stage founders often ask: how quickly should my startup be growing?
There's a lot of seemingly conflicting advice out there.

For example, at YC Combinator, we were often told that we should aim for 10% growth week over week.
As [Paul Graham writes on growth](http://paulgraham.com/growth.html),
> During Y Combinator we measure growth rate per week, partly because there is so little time before Demo Day, and partly because startups early on need frequent feedback from their users to tweak what they're doing.
> A good growth rate during YC is 5-7% a week.
> If you can hit 10% a week you're doing exceptionally well. If you can only manage 1%, it's a sign you haven't yet figured out what you're doing.

Neeraj Agarwal of Battery Ventures is known for popularizing [the T2D3 rule](https://techcrunch.com/2015/02/01/the-saas-travel-adventure/):
> Most of the phases center around a mantra I call “triple, triple, double, double, double,” (T2D3 for short), referring to a company’s annualized revenue growth.

There's [the Rule of 40](https://tomtunguz.com/rule-of-40/), [the magic number](https://davidcummings.org/2009/09/21/saas-magic-number/), and loads of other advice out there.

All of these suggest that there can be many ways to track growth at different phases in a company's development, but it can be hard to understand how they fit together or what is best.

## Introducing the WoW Rule

The WoW Rule is the guideline for the revenue growth of a venture funded SaaS company.
This is based on my experience growing [GitLab](https://gitlab.com) and as an investor in other companies.
If you want to know what your revenue growth targets for your SaaS startup should be, keep reading.

Month over Month (MoM) growth = 6% + ( 14% / last month ARR in $m )
{: .alert .alert-gitlab-purple}


### Before $2 Million ARR

Until you're at $2 million dollars in ARR, what does aiming for month over month growth of 6% plus 14% divided by last month's ARR in millions?

| Month | Year | ARR at the end of month in millions | MoM growth to next | Aprox. WoW growth  | YoY growth|
|-------|------|--------------------|---------------|--------------|------------|
| 1     | 0.1  | 0.0                | 140000006.00% | 35000001.50% |            |
| 2     | 0.2  | 0.1                | 106.00%       | 26.50%       | 583889.08% |
| 3     | 0.3  | 0.3                | 54.54%        | 13.64%       | 18461.57%  |
| 4     | 0.3  | 0.4                | 37.41%        | 9.35%        | 4431.66%   |
| 5     | 0.4  | 0.6                | 28.86%        | 7.21%        | 1995.96%   |
| 6     | 0.5  | 0.8                | 23.74%        | 5.93%        | 1188.56%   |
| 7     | 0.6  | 1.0                | 20.34%        | 5.08%        | 822.06%    |
| 8     | 0.7  | 1.2                | 17.91%        | 4.48%        | 622.37%    |
| 9     | 0.8  | 1.4                | 16.10%        | 4.03%        | 500.00%    |
| 10    | 0.8  | 1.6                | 14.70%        | 3.68%        | 418.64%    |
| 11    | 0.9  | 1.8                | 13.59%        | 3.40%        | 361.25%    |
| 12    | 1.0  | 2.1                | 12.68%        | 3.17%        | 318.92%    |

At the end of the first month, you're at 0 ARR.
At the end of the second month, you're at .1 M ARR, or $100K.
At the end of the third month, you're at .3 M ARR, or $300K.
From the second month to the third month, that means 106% month over month growth, and approximately 26.5% week over week growth.
At the end of month 12, you should be at $2.1 M ARR.

There are very large growth targets in the first year, but these become more manageable as traction is gained.

## Years 2 through 6

At $2.1M ARR, a company is entering Phase 3 of their [SaaS adventure](https://techcrunch.com/2015/02/01/the-saas-travel-adventure/), moving into the oft-recommended T2D3 territory.

But our formula, the WoW rule, is a bit different.

Year 2 would look as follows:

| Month | Year | ARR at the end of month in millions | MoM growth to next | Aprox. WoW growth  | YoY growth|
|-------|------|--------------------|---------------|--------------|------------|
| 13 | 1.1 | 2.4 | 11.93% | 2.98% | 286.59% |
| 14 | 1.2 | 2.6 | 11.30% | 2.82% | 261.21% |
| 15 | 1.3 | 2.9 | 10.76% | 2.69% | 240.82% |
| 16 | 1.3 | 3.3 | 10.30% | 2.57% | 224.14% |
| 17 | 1.4 | 3.6 | 9.90%  | 2.47% | 210.27% |
| 18 | 1.5 | 3.9 | 9.54%  | 2.39% | 198.60% |
| 19 | 1.6 | 4.3 | 9.24%  | 2.31% | 188.65% |
| 20 | 1.7 | 4.7 | 8.96%  | 2.24% | 180.09% |
| 21 | 1.8 | 5.1 | 8.72%  | 2.18% | 172.67% |
| 22 | 1.8 | 5.6 | 8.50%  | 2.13% | 166.18% |
| 23 | 1.9 | 6.1 | 8.30%  | 2.08% | 160.47% |
| 24 | 2.0 | 6.6 | 8.13%  | 2.03% | 155.42% |

If we expand this futher, with just a year view, years 2 through 6 would look like:

| Month | Year | ARR at the end of month in millions | MoM growth to next | Aprox. WoW growth  | YoY growth|
|-------|------|--------------------|---------------|--------------|------------|
| 24 | 2.0 | 6.6   | 8.13% | 2.03% | 155.42% |
| 36 | 3.0 | 15.6  | 6.90% | 1.72% | 122.64% |
| 48 | 4.0 | 33.8  | 6.41% | 1.60% | 110.87% |
| 60 | 5.0 | 70.3  | 6.20% | 1.55% | 105.80% |
| 72 | 6.0 | 143.8 | 6.10% | 1.52% | 103.45% |

The T2D3 rule outlines that it kicks in at 2 Million dollars of ARR and sets the goal of tripling twice and doubling 3 times.
At the 2 Million dollar mark, that would suggest going to:

As a result, the T2D3 rule lays out:

| Year | T2D3 |
|------|------|
| 1    | 2    |
| 2    | 6    |
| 3    | 18   |
| 4    | 36   |
| 5    | 72   |
| 6    | 144  |

Our suggestion, though, is a bit different:

| Year | Wow Rule ARR | T2D3 ARR | Off by  |
|------|------------|------|---------|
| 1    | 2.1        | 2    | 4.80%   |
| 2    | 6.6        | 6    | 9.66%   |
| 3    | 15.6       | 18   | -13.33% |
| 4    | 33.8       | 36   | -6.24%  |
| 5    | 70.3       | 72   | -2.39%  |
| 6    | 143.8      | 144  | -0.15%  |

The Wow Rule, thus, suggests slightly slower growth in years three, four, and five, to achieve almost the exact same number at the end of year 6.

## Major Milestones

Reading this, there are a number of major milestones you may be curious about, such as 100M ARR and 1B ARR.

For 100 M ARR:

| Month | Year | ARR at the end of month in millions | MoM growth to next | Aprox. WoW growth  | YoY growth|
|-------|------|--------------------|---------------|--------------|------------|
| 65 | 5.4 | 94.8  | 6.15% | 1.54% | 104.61% |
| 66 | 5.5 | 100.7 | 6.14% | 1.53% | 104.41% |

For 1B ARR:

| Month | Year | ARR at the end of month in millions | MoM growth to next | Aprox. WoW growth  | YoY growth|
|-------|------|--------------------|---------------|--------------|------------|
| 105 | 8.8 | 997.2  | 6.01% | 1.50% | 101.54% |
| 106 | 8.8 | 1057.1 | 6.01% | 1.50% | 101.52% |

## Year 6 and Beyond

Even in year five, MoM growth is still above 6%.
We see this trend through and beyond Year 10.
This is because the formula we laid out earlier always expects at least 6% monthly growth as a constant.

## Revenue to Spend for Continued Growth

While the Wow Rule helps a company track its growth, it can be heard to know how to spend in order to continue growth.
For that we have the [Hypergrowth rule](/handbook/finance/financial-planning-and-analysis/hypergrowth-rule/) which includes a calculator based on existing ARR and percent growth. 

## Want to join the conversation?

I gotten some feedback on this [on Twitter](https://twitter.com/sytses/status/1209504876109221895).
If you've got throughts, please join the conversation there!

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Guideline for the revenue growth of a venture funded SaaS company: Month over Month (MoM) growth = 6% + ( 14% / last month ARR in <a href="https://twitter.com/search?q=%24m&amp;src=ctag&amp;ref_src=twsrc%5Etfw">$m</a> ). At $2m it should be about 13% MoM, at $6m it is 8%. T2D3: 2, 7, 16, 34, 70, 144. YC advises 10% WoW which only lasts 3 months with this formula.</p>&mdash; Sid Sijbrandij (@sytses) <a href="https://twitter.com/sytses/status/1209504876109221895?ref_src=twsrc%5Etfw">December 24, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
