---
title: Health Check
suppress_header: true
description: "Validate your self-managed GitLab deployment architecture"
canonical_path: "/services/implementation/health-check/"
extra_css:
  - services.css
---

- data.services.each do |service|
  - if service.name == "Health Check"
    .wrapper
      .simple-header
        %h1 #{service['name']}
        %h3.headline-subtitle
          #{service['subtitle']}

    .services-inner
      .page-container.container
        %ol.breadcrumb
          %li 
          = breadcrumbs(current_page)
        .row
          .col-md-10.col-md-offset-1.tile
            %h1 Summary
            %p.service-para
              #{service['summary']}

            %h2 Who is this service for?
            %p.service-para
              #{service['whos-this-for']}

            %h1 What's included?
            %ul
              %li #{service['whats-included0']}
              %li #{service['whats-included1']}
              %li #{service['whats-included2']}

= partial "includes/services-contact-form"
